<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet Instance Attestation</title>
</head>
<body>
<h1>1:2. Wallet Instance Attestation</h1>
<h3>The Assertion in the request (unpacked): </h3>
<dl>
    {% for key, value in request_args.items() %}
    <dt>{{ key }}</dt>
    <dd>{{ value }}</dd>
    {% endfor %}
</dl>

<hr>

<h3 style="color: green">The Attestation Response (unpacked)</h3>
<dl>
    {% for key, value in wallet_instance_attestation.items() %}
    <dt>{{ key }}</dt>
    <dd>{{ value }}</dd>
    {% endfor %}
</dl>
<hr>
<h3>JWT response headers</h3>
<dl>
    {% for key, value in response_headers.items() %}
    <dt>{{ key }}</dt>
    <dd>{{ value }}</dd>
    {% endfor %}
</dl>

<hr>
<input type="button" onclick="location.href='picking_ehic_issuer'"
       value="3. Find EHIC Issuer"/>

</body>
</html>