<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Attestation</title>
</head>
<body>
<h1>1:2 App Attestation Service</h1>
<h3>The App Attestation</h3>
<dl>
    <dt style="color: blue">Request</dt>
    <dd> {{app_attestation_request}}</dd>
    <dt style="color: green">Response</dt>
    <dd>{{app_attestation_response}}</dd>
</dl>

<hr>
<input type="button" onclick="location.href='wallet_instance_attestation'"
       value="1:3 Wallet Instance Attestation"/>

</body>
</html>