<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1 style="background-color:lightblue;">1:3 Registration Service</h1>
<h3>The Wallet registration</h3>
<dl>
    <dt style="color: green">Request</dt>
    <dd>{{registration_request}}</dd>
    <dt style="color: green">Response</dt>
    <dd>{{registration_response}}</dd>
</dl>

<hr>
<input type="button" onclick="location.href='challenge2'"
       value="2:1 Get Challenge"/>

</body>
</html>